.call-action {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 50px 5%;
    margin-left: auto;
    margin-right: auto;

    height: 40vh;

    background: linear-gradient(to right, rgba(121, 56, 218, 0.50), rgba(96, 72, 255, 0.50)), url('/img/header_bg.png');; 
     background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
