.card-service {
    display: flex;
    flex: 0 0 60%;
    flex-wrap: wrap;
    justify-content: center;
}

.card-service.-service {
    flex: 0 0 40%;
    height: 50%;
}

.card-service>.item {
    position: relative;
    max-width: 400px;
    width: 100%;
    padding: 30px;
    background-color: transparent;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

}

.card-service>.item:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-service>.item.-item {
    flex: 1 1 50%;

}

.card-service >.item > .logo {
    position: relative;
    display: block;
    margin: 0 auto 15px auto;
    text-align: center;
}

.card-service>.item>.title {
    font-size: 3rem;
    font-weight: bolder;
    color: #4A4A4A;
    margin-bottom: 20px;
    text-align: center;
}

.card-service>.item>.title.-card {
    font-size: 1.6rem;
    font-weight: normal;
    margin-bottom: 8px;
}

/* .card-service>.item>.title.-card~.description {
    margin-left: 30px;
} */

.card-service>.item>.description {
    font-size: 1.4rem;
    line-height: 1.4;
    letter-spacing: .05rem;
    font-weight: normal;
    color: #6E6E6E;
    margin-bottom: 10px;
    text-align: center;
}



@media screen and (max-width: 1260px) {

    .card-service>.item {
        max-width: 350px;
    }

    @media screen and (max-width: 1000px) {

        .card-service {
            justify-content: center;
            max-width: 1000px;
        }

        .card-service,
        .card-service.-service {
            width: 100%;
            justify-content: center;

        }

        .card-service>.item {
            justify-content: space-between;
            max-width: 700px;
            text-align: center;
        }

        .card-service .item.-item {
            max-width: 350px;
            text-align: left;
        }

        .card-service>.item>.title {
            font-size: 2.7rem;
            margin-bottom: 10px;
        }

        .card-service .main-btn {
            display: none;
        }
    }

    @media screen and (max-width: 530px) {
        .card-service {
            flex-direction: column;
            align-items: center;
        }

        .card-service .item.-item {
            max-width: 350px;
            text-align: center;
        }

        .card-service .logo {
            top: -10px;
            left: 0px;
            margin-top: 30px;
        }
    }
}