.main-logo>.title {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 3rem;
    font-weight: normal;
    letter-spacing: 0.5em;
    color: #a0d334;
    font-weight: bold;
    text-decoration: underline;
}
@media screen and (max-width: 768px) {
    .main-logo>.title {
        width: 50px;
        font-size: 2rem;
    }
  }